---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Upss.. ">
    <main class="flex justify-center items-center w-full absolute p-2 mt-32">
        <img src="404.svg" alt="imagen de pagina no encontrada" class="mt-10">
    </main>
</Layout>