---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Upss.. ">
    <main class="flex flex-col justify-center items-center w-full p-8 h-full">
        <img src="404.svg" alt="imagen de pagina no encontrada" class="sm:max-w-lg">
        <h3 class="my-20">No encontramos lo que estabas buscando...</h3>
    </main>
</Layout>