---
import Service from '../components/Service.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Calderas Watt">

	<main class="flex justify-center flex-col items-center p-2 sm:px-20 lg:flex-row-reverse">
		<img class="sm:max-w-xl m-5" src="/principal.svg" alt="ilustración principal mundo y persona">
		<h1 class="text-3xl font-semibold text-slate-700 m-2 sm:m-8 tracking-tighter drop-shadow-2xl">Calderas  <span class="text-slate-500">Watt</span></h1>
	</main>

	<section class="flex justify-center flex-col p-5 items-center sm:px-20 sm:text-xl text-lg">
		<p class="text-center max-w-2xl">Ofrecemos servicio técnico y fabrica de calderas a gas y eléctricas para hoteles, hospitales e industria en general.</p>
		<a href="/contacto" class="m-8 rounded bg-sky-900 hover:bg-sky-700 text-white px-4 py-2">Contacto</a>
	</section>

	<main class="flex flex-col lg:flex-row justify-around">
		<Service title='Soluciones' link='/productos' img='/tienda.svg' desc='Las soluciones que tenemos a tu disposición' />
		<Service title='Agendamiento' link='/contacto' img='/teclado.svg' desc='Agenda tu visita online y danos el gusto de atenderte' />
		<Service title='Garantía' link='/' img='/pluma.svg' desc='Trabajos e instalaciones de la mejor calidad' />
	</main>

	<section class="flex justify-center flex-col py-5 items-center sm:text-xl text-lg">
		<div class="w-full h-full">
			<div class="bg-[url('/diseño.jpg')] h-96 bg-fixed bg-center bg-cover bg-no-repeat w-full"></div>
			<small class="relative left-2 bottom-8 text-white text-xs">
				<a href="https://www.freepik.com/free-photo/teamwork-sharing-ideas-about-industrial-project-analysing-d-gears_19063870.htm#query=dise%C3%B1o&position=14&from_view=search&track=sph" target="_blank">Image by DCStudio on Freepik</a> 
			</small>
		</div>
	</section>

	<section class="flex justify-center flex-col p-5 items-center sm:px-20 sm:text-xl text-lg mb-20">
		<h2 class="font-semibold">Trabajamos por tu satisfacción</h2>
		<p class="font-mono text-sm p-4 text-center">Nuestros servicios son especializados y garantizados</p>
		<a href="/servicios" class="m-8 rounded bg-sky-900 hover:bg-sky-700 text-white px-4 py-2">Ver más</a>
	</section>

</Layout>
