---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Calderas Watt">
	<main class="flex justify-center flex-col items-center p-2 sm:p-20">
		<h1 class="text-3xl font-bold text-slate-700 m-2 mb-8">Calderas  <span class="text-gradient">Watt</span></h1>
		<img src="/principal.svg" alt="ilustración principal mundo y persona">
	</main>
	<section class="flex justify-center flex-col items-center p-2 sm:p-20">
		<p class="text-slate-500">Estamos trabajando...</p>
	</section>
</Layout>
