---
import { TfiInstagram } from 'react-icons/tfi/index.js'
---

<footer class="w-full p-4 bg-white flex items-center justify-between flex-row-reverse sm:justify-around">
    <div class="flex flex-col gap-2">
        <a href='https://www.instagram.com/watt_col/' target='_blank' aria-label='redirección al perfil de instagram oficial'><TfiInstagram className='h-8 w-8 hover:border-2 hover:text-black' /></a>
    </div>
    <ul class="text-lg">
        <li class="w-full h--24">
            <a href='/' class="hover:underline" aria-label='redirección a la página principal'>Inicio</a>
        </li>
        <li>
            <a href='/contacto' class="hover:underline" aria-label='redirección a la pagina de contacto'>Contacto</a>
        </li>
        <li>
            <a href='/servicios' class="hover:underline" aria-label='redirección a la página de servicios'>Servicios</a>
        </li>
        <li>
            <small class="text-center">2023</small>
        </li>
    </ul>
</footer>