---
import Footer from '../components/Footer.astro';
import { Header } from '../components/Header';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-300 h-screen flex flex-col justify-between items-center text-slate-600">
		<Header client:load>
			<img class="bg-white rounded-[50%] w-14 sm:w-20" src="/logo.png" alt="logo de la empresa">
		</Header>
		<main class="bg-green-200 sm:w-5/6 h-full">
			<slot />
		</main>
		<Footer></Footer>
	</body>
</html>
